@charset "UFT-8";

/*  HTML é id = em CSS é #
    HTML é class = em CSS é . */
body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(151, 16, 16);
}

h1#principal {
    text-align: center;
    background-color: aliceblue;
    color: black;
}

.basico {
    color: darkcyan;
}

.intermediario {
    color: black;
}

.avançado {
     color: blueviolet;
}

.destaque {
    background-color: rgba(0, 0, 0, 0.192);
}